# {{ ansible_managed }}

server {
        listen 80 default;
        server_name _;

        location / {
                proxy_set_header Host $http_host;
                proxy_set_header X-Forwarded-Host $host;
                proxy_set_header X-Forwarded-Server $host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Graylog-Server-URL https://$server_name/;
                proxy_pass       http://127.0.0.1:9000;
            }
}