############################
# GRAYLOG CONFIGURATION FILE
############################

is_master = true
node_id_file = /etc/graylog/server/node-id

password_secret = {{ 'secretpassword' | password_hash('sha512', 65534 | random(seed=ansible_host) | string) }}
root_username = {{ graylog_root_username }}
root_password_sha2 = {{ graylog_root_password | hash('sha256') }}

root_timezone = {{ graylog_default_timezone }}

bin_dir = /usr/share/graylog-server/bin
data_dir = {{ graylog_data }}
plugin_dir = /usr/share/graylog-server/plugin

http_bind_address = 127.0.0.1:9000
http_publish_uri = http://127.0.0.1:9000/
http_external_uri = https://127.0.0.1:9000/

http_enable_cors = false
http_enable_gzip = false

elasticsearch_hosts = http://127.0.0.1:9200
elasticsearch_connect_timeout = 10s
rotation_strategy = size
elasticsearch_max_size_per_index = 10737418240
elasticsearch_max_number_of_indices = {{ graylog_number_of_indices }}
retention_strategy = delete
elasticsearch_shards = 4
elasticsearch_replicas = 0
elasticsearch_index_prefix = graylog

allow_leading_wildcard_searches = false
allow_highlighting = false
elasticsearch_analyzer = standard

output_batch_size = 500
output_flush_interval = 1
output_fault_count_threshold = 5
output_fault_penalty_seconds = 30

processbuffer_processors = 5
outputbuffer_processors = 3

processor_wait_strategy = blocking
ring_size = 65536

inputbuffer_ring_size = 65536
inputbuffer_processors = 2
inputbuffer_wait_strategy = blocking

message_journal_enabled = true
message_journal_dir = {{ graylog_data }}journal

lb_recognition_period_seconds = 3

mongodb_uri = mongodb://localhost/{{ graylog_mongodb_db_name }}
mongodb_max_connections = 1000
mongodb_threads_allowed_to_block_multiplier = 5

proxied_requests_thread_pool_size = 32
